.cards {
    padding: 0px;
    margin: 0px;
    /* border: 3px solid red; */
    display: flex;
    flex-wrap: wrap;
    width: 920px;
    justify-content: space-between;
}

.cards:after {
    content: "";
    flex: auto;
    justify-content: flex-start;
}