@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/logo_place_header/logo_place_header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitile.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link/_active/header__link_active.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);

@import url(../blocks/content/description/description.css);
@import url(../blocks/content/description/two-columns/two-columns.css);
@import url(../blocks/content/description/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/content/description/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/content/description/two-columns/__paragraph/two-columns__paragraph.css);

@import url(../blocks/content/digits/digits.css);
@import url(../blocks/content/digits/section-title/section-title.css);
@import url(../blocks/content/digits/section-subtitle/section-subtitle.css);

@import url(../blocks/content/digits/table/table.css);
@import url(../blocks/content/digits/table/__cell/table__cell.css);
@import url(../blocks/content/digits/table/__heading/table__heading.css);
@import url(../blocks/content/digits/table/__text/table__text.css);

@import url(../blocks/content/feinman/feinman.css);
@import url(../blocks/content/feinman/__title/feinman__title.css);
@import url(../blocks/content/feinman/__subtitle/feinman__subtitle.css);
@import url(../blocks/content/feinman/__link/feinman__link.css);
@import url(../blocks/content/feinman/__link/_active/feiman___link_active.css);
@import url(../blocks/content/feinman/__image/feinman__image.css);

@import url(../blocks/content/kaufman/kaufman.css);
@import url(../blocks/content/kaufman/section-title/_theme_dark/section-title_theme_dark.css);
@import url(../blocks/content/kaufman/section-subtitle/_theme_dark/section-subtitle_theme_dark.css);
@import url(../blocks/content/kaufman/table/_theme_dark/table_theme_dark.css);
@import url(../blocks/content/kaufman/table/table__cell/_theme_dark/table__cell_theme_dark.css);
@import url(../blocks/content/kaufman/table/table__heading/_theme_dark/table__heading_theme_dark.css);
@import url(../blocks/content/kaufman/table/table__text/_theme_dark/table__text_theme_dark.css);
@import url(../blocks/content/kaufman/__triangle/kaufman__triangle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/logo_place_footer/logo_place_footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__columns/_content_copyright/footer__column_content_copyright.css);
@import url(../blocks/footer/__columns/_content_info/footer__column_content_info.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__column-link/_active/footer__column-link_active.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);