.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header__logo{
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 64px;
  position: absolute;
  /* border: 1px solid red; */
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.header__title{
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  justify-content: center;
  z-index: 12;
  /* border: 1px solid red; */
}

.header__subtitle{
  width: 400px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-left: 64px;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
  /* border: 1px solid red; */
  z-index: 11;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.link{
  color: #2f80ed;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  text-decoration: none;
}

.header__square-pic{
  width: 568px;
  height: 568px;
  /* border: 1px solid red; */
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 64px;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  /* border: 1px solid red; */
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.description{
 display: flex;
 align-items: center;
 justify-content: center; 
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.two-columns{
  display: flex;
  width: 80%;
  /* border: 1px solid red; */
  margin-top: 100px;
  margin-bottom: 100px;
  /* position: absolute; */
  justify-content: space-between;
}

.two-columns__brief{
  width: 175px;
  /* border: 1px solid red; */
  align-self: stretch;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  list-style: none;
  right: 0;
  margin-top: 0px;
  /* border: 1px solid red; */
}

.two-columns__paragraph{
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits__section-title{
  width: 60%;
  /* border: 1px solid red; */
  margin-top: 100px;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.digits__section-subtitle{
  width: 60%;
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
}

.digits__table{
  width: 1100px;
  margin-bottom: 100px;
  /* border: 1px solid red; */
}

.digits__table-cell{
  width: 250px;
  margin-top: 60px;
  margin-bottom: 0px;
  /* border: 1px solid red; */
  list-style: none;
}

.digits__table-heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  /* margin-bottom: 20px; */
}

.digits__table-text{
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
}

.digits__table-row-first{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.digits__table-row-second{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.feinman{
  height: 790px;
  background-color: #f2f2f2;
  /* border: 1px solid red;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.feinman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 10;
  margin-top: 100px;
  /* border: 1px solid red;  */
  justify-content: center;
  text-align: center;
}

.feinman__subtitle{
  line-height: 51px;
  font-size: 34px;
  margin-top: 70px;
  z-index: 11;
  /* border: 1px solid red;  */
}

.feinman__link{
  line-height: 51px;
  font-size: 36px;
  color: black;
  text-decoration: none;
  align-self: flex-end;
  position: absolute;
  z-index: 12;
  top: 50%;
  padding-right: 48px;
}

.feinman__image{
  width: 867px;
  height: 637px;
  bottom: 0;
  align-self: flex-start;
  position: absolute;
  background-image: url(../images/feynman.png);
  /* border: 1px solid red;  */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/* .header__square-pic {
  height: 568px;
  width: 568px;
} */

/* и элемента с модификатором вида ключ-значение */
/* .table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */
