.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
}

.logo_place_header{
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 64px;
  position: absolute;
}

.header__title_flex-column{
  display: flex;
  flex-direction: column;
}

.header__title{
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  justify-content: center;
  z-index: 12;
}

.header__subtitle{
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-left: 64px;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
  z-index: 11;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.link{
  color: #2f80ed;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  text-decoration: none;
}

.header__square-pic{
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 64px;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.description__flex_center{
 display: flex;
 align-items: center;
 justify-content: center; 
}

.two-columns{
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns__flex_column{
  display: flex;
  justify-content: space-between;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
  color: #2f80ed;
}

.brief_flex_row{
  display: flex;
  flex-direction: row;
  align-self: stretch;

}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  list-style: none;
  right: 0;
  margin-top: 0px;
}

.two-columns__paragraph{
  margin-top: 0px;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  margin-top: 100px;
  margin-bottom: 100px;
}

.digits__flex_column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title{
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0px;
}

.section-title__flex_center{
  display: flex;
  justify-content: center;
}

.section-subtitle{
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0px;
}

.section-subtitle__flex_center{
  display: flex;
  justify-content: center;
}

.table{
  width: 1100px;
}

.table__row_first{
  margin-top: 60px;
}

.table__row_first_flex_row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table__cell{
  width: 250px;
  margin-bottom: 0px;
  list-style: none;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
}

.table__text{
  margin: 0px;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__row_second{
  margin-top: 60px;
}

.table__row_second_flex_row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feinman{
  height: 790px;
  background-color: #f2f2f2;
  position: relative;
  padding-top: 100px;
}

.feinman__flex_column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feinman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 10;
  margin: 0px;
}

.feinman__title_flex_center{
  justify-content: center;
  text-align: center;
}

.feinman__subtitle{
  line-height: 51px;
  font-size: 34px;
  font-weight: normal;
  margin-top: 70px;
  z-index: 11;
}

.feinman__link{
  line-height: 51px;
  font-size: 36px;
  color: black;
  text-decoration: none;
  position: absolute;
  z-index: 12;
  top: 50%;
  padding-right: 48px;
}

.feinman__link_flex_end{
  align-self: flex-end;
}

.feinman__image{
  width: 867px;
  height: 637px;
  bottom: 0;
  position: absolute;
  background-size: contain;
}

.feinman__image_flex_start{
  align-self: flex-start;
}

.kaufman{
  position: relative;
  overflow: hidden;
}

.kaufman__flex_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f; 
}

.section-title__theme_dark{
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  padding-top: 90px;
  margin: 0px;
  color: white;
  z-index: 10;
}

.section-subtitle__theme_dark{
  line-height: 34px;
  font-size: 24px;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  z-index: 10;
}

.table_theme_dark{
  padding-bottom: 90px;
}

.table__cell_theme_dark{
  width: 200px;
  z-index: 10;
}

.table__row_first_theme_dark{
  margin-top: 80px;
}

.table__row_second_theme_dark{
  margin-top: 80px;
}

.table__heading_theme_dark{
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
  z-index: 1;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark{
  color: white;
  z-index: 1;
  font-weight: normal;
  margin: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle{
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  right: -210px;
}

.footer{
  background-color: #1f1f1f;
  min-height: 350px;
  height: 1px;
}

.footer_flex_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__columns{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 60px;
  padding-bottom: 40px;
  height: 100%;
}

.footer__columns_flex_row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer__columns_content_copyright{
  flex-basis: 711px;
}

.footer__columns_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer{
  background-image: url(../images/logo_place_footer.svg);
  background-repeat: no-repeat; 
  width: 183px;
  height: 35px;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
}

.footer__columns_content_info{
  line-height: 30px;
  font-size: 18px;
}

.footer__columns_content_info_flex_column{
  display: flex;
  flex-direction: column;
}

.footer__column-heading_info{
  font-weight: bold;
  line-height: 30px;
  font-size: 18px;
  color: white;
  padding-bottom: 20px;
  margin: 0px;
}

.footer__column-links_flex_column{
  display: flex;
  flex-direction: column;
}

.column-link{
  color: white;
  text-decoration: none;
}

.footer__column-heading_social{
  font-weight: bold;
  color: white;
  line-height: 30px;
  font-size: 18px;
  margin: 0px;
}

.footer__social_links{
  padding-top: 20px;
  padding-bottom: 16px;
}

.footer__social-icon{
  text-decoration: none;
}

.footer__social-link{
  color: white;
  text-decoration: none;
  margin-left: 10px;
  line-height: 30px;
  font-size: 18px;
}

object{
  pointer-events: none;
}








/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/* .header__square-pic {
  height: 568px;
  width: 568px;
} */

/* и элемента с модификатором вида ключ-значение */
/* .table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */
